body{
    background-color: #212121;
    margin: 0;
    overflow-x: hidden;
    color: #fff;
}

h1{
    margin-block-end: 2px;
    padding: 25px;
}

h2{
    margin: 0;
    font-weight: 100;
}
p{
    margin: 0;
}

.header-section{
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(1, 125, 141);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container{
    
}

.header-about{
    text-align: center;
    font-size: 1.2em;
}

/* .portfolio-section{
    min-height: 50vh;
} */

.header-title{
    text-align: center;
    font-size: 5em;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Bitter', serif;  */
    letter-spacing: 5px;
}

.header-desc{
    text-align: center;
    font-size: 2.7em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;

}
.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5em;
}

/* .portfolio-row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    margin-bottom: 8px;
}

.portfolio-column{
    flex: 30%;
    max-width: 30%;
    padding: 0 3px;
} */

.portfolio-item{
    width: 32%;
    height: 24vw;
    background-color: aqua;
    margin-top: 8px;
    vertical-align: middle;
}

footer{
    min-height: 25vh;
    background: radial-gradient(pink, transparent);
}

@media (max-width: 800px) {
    .portfolio-column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
@media (max-width: 600px) {
    .portfolio-column {
      flex: 100%;
      max-width: 100%;
    }

    .portfolio-section {
        min-height: 26vh !important;
    }
  }