html{
  scroll-behavior: smooth;
}
body{
  background-color: #212121;
  margin: 0;
  overflow-x: hidden;
  color: #fff;
}

h1{
    margin-block-end: 2px;
    padding: 25px;
}

h2{
    margin: 0;
    font-weight: 100;
}
p{
    margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.header-section{
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(1, 125, 141);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container{
  margin-bottom: 146px;
}

.header-about{
  text-align: center;
  font-size: 1.2em;
  padding: 15px;
}

.header-title{
  text-align: center;
  font-size: 5em;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Bitter', serif;  */
  letter-spacing: 5px;
}

.header-desc{
  text-align: center;
  font-size: 2.7em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;

}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5em;
  margin-top: 12px;
}

.portfolio-item{
  width: 25%;
  height: 18vw;
  background-color: #1d1d1d;
  margin-top: 8px;
  vertical-align: middle;
  border-radius: 10px;
  padding: 3rem 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-left: 2px solid #FD2155;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  margin-bottom: 5px;
  cursor: pointer;
}
.portfolio-item:hover h2 {
  color: #04AA6D;
}

.portfolio-item h2{
  font-size: 1.6em;
  font-family: 'Raleway', sans-serif;
}

.portfolio-item p{
  font-family: 'Raleway', sans-serif;
}

.portfolio-item span{
  font-family: 'Oswald', sans-serif;
}

.portfolio-item-info{
  margin-bottom: 20px;
  margin-top: 20px;
}

.about-section{
  min-height: 50vh;
}

footer{
  min-height: 25vh;
  background: radial-gradient(pink, transparent);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .header-title{
    font-size: 2em;
  }
  .header-desc{
    font-size: 1.7em;
  }
  .header-about{
    font-size: 1em;
  }
  .portfolio-item{
    width: 36%;
    height: 47vw;
  }

  .portfolio-item h2{
    font-size: 1.2em;
  }
  .portfolio-item p{
    font-size: 0.9em;
  }
  .portfolio-item span{
    font-size: 1em;
  }
}

@media (max-width: 1250px){
  .portfolio-items{
    padding: 0;
  }

  .portfolio-item{
    padding: 2rem 1.5rem 1.5rem;
  }
}
